[Unit]
Description={{ disk_name }} disk
After=decrypt-{{ disk_name }}-disk.service

[Mount]
What=/dev/mapper/{{ disk_name }}
Where={{ mount_directory }}
Options=compress=zstd:1

[Install]
WantedBy=multi-user.target
